<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ contact.first_name__c }} {{ contact.last_name__c}}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="/home"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact.id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact._id">ID: <a ng-href="mailto:{{ contact._id }}" target="_blank">{{ contact.id }}</a></p>
    <p ng-if="contact.gender__c">Gender: {{ contact.gender__c }} </p>
    <p ng-if="contact.hire_date__c">Hire Date: {{ contact.hire_date__c }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/home">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>